.img-preview-wrapper {
  height: $ea-small-card-height;
  position: relative;

  #up-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 10px 0 10px;
    margin: 0 0 0 -24px;
  }

  #event-form-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #event-duplicate-btn {
    position: absolute;
    top: 10px;
    right: 60px;
    padding:0
  }
  
 .img-preview-ctr-bg {
    @include translate(-50%, -50%);
    @extend .transparent-btn-bg;

    position: relative;
    width: 300px;
    height: auto;
    top: -50%;
    left: 50%;
    border-radius: 20px !important;
    cursor: pointer;
    text-align: center;
    padding-bottom: 17px;
  }

  .img-preview-ctr-text {
    position: relative;
    top: 9px;
    padding: 0 10px 0 0px;
    text-transform: uppercase;
    font-family: 'Lato_Reg';
    font-size: 15px !important;
  }

  .img-preview-ctr-icon {
    position: relative;
    top: 3px;
    right: -5px;
    height: 16px;
    width: 10px;
  }
}

@media screen and (max-width:768px) {
    .img-preview-wrapper {
      height: 140px;
    }
}

.b-lazy {
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  &.b-loaded {
    opacity: 1;
  }
}

#select-cover-photo {
  cursor: pointer;
}

.edit-event-btn
{
    width: 120px !important;
    border-radius: 25px !important;
    padding: 10px 6px 6px 8px;
    height: auto !important;
    line-height: 1;
    text-align: center !important;
}
.upload-parcentage {
    color: #fff;
    font-size: 20px;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
}
