@font-face {
  font-family: 'Brandon_Light';
  src: url('/fonts/Brandon/Brandon_light.otf');
}

@font-face {
  font-family: 'Brandon_Light_Italic';
  src: url('/fonts/Brandon/Brandon_light_it.otf');
}

@font-face {
  font-family: 'Brandon_Reg';
  src: url('/fonts/Brandon/Brandon_reg.otf');
}

@font-face {
  font-family: 'Brandon_Med';
  src: url('/fonts/Brandon/Brandon_med.otf');
}

@font-face {
  font-family: 'Brandon_Bold';
  src: url('/fonts/Brandon/Brandon_bld.otf');
}

@font-face {
  font-family: 'Lato_Light';
  src: url('/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato_Bold';
  src: url('/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato_Reg';
  src: url('/fonts/Lato/Lato-Regular.ttf');
}
