<template name='SelectContacts'>
  <div class='loading-wrapper-full'>
    <div class='navbar-fixed' id='add-guest-fixed-header'>
      <div id='add-guest-header' class='event-form-nav'>
        <div class='nav-wrapper'>
          <div class='header-stacked main visible'>
            {{> ModalHeader
              title='Select Contacts'
              leftIcon='mdi-navigation-close small'
              leftIconClass='close-add-guests'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
