<template name='EventNavMain'>
  <div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" id="closehamburgerbtn">&times;</a>
      <a href="#" class="edit-my-profile"><img src="/images/user-profile.png">{{_ "event_nav_main.myprofile"}}</a>
	  <a href="#" class="contact-support-btn"><img src="/images/help.png">{{_ "event_nav_main.help"}}</a>
      <a href="#" class="menu-logout-btn"><img src="/images/logout.png">{{_ "event_nav_main.logout"}}</a>
    </div>
  </div>
</template>
