<template name='EditHost'>
  {{#if currentEvent}}
    {{#autoForm
      id='host-update-form'
      collection='Invites'
      type='update'
      doc=currentHost
    }}
      {{> InputWrapper input='firstName' label='first name'}}
      {{> InputWrapper input='lastName' label='last name'}}
      {{> InputWrapper input='hostRole' label='Role'}}
      {{> InputWrapper input='email' label='Email' disabled=true}}
      {{> InputWrapper
        input='phone'
        label='Phone'
        customError='Phone must be a valid phone number'
        tel=true
      }}

      <ul class='collection edit-host-submit'>
        <li id='host-form-submit' class='guest-collection-header'>
          <button type='submit' class='h-btn-large host-form-submit-btn'>
            Save Changes
          </button>
        </li>

        {{#unless isSelf}}
          <li id='delete-host-btn' class='guest-collection-header'>
            <span class='transparent-btn'>
              delete this host
            </span>
          </li>
        {{/unless}}
      </ul>
    {{/autoForm}}
  {{/if}}
</template>
