<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <link rel='apple-touch-icon' href='/images/57.png' />
  <link rel="alternate" href="android-app://com.id1wv7fg61nhcof01rhqsd/http/app.hooplaguru.com" />
  <meta name="apple-itunes-app" content="app-id=1040219905">
  <meta property="al:ios:app_store_id" content="1040219905" />
  <meta property="al:ios:url" content="eventassistmeteor://" />
  <meta property="al:ios:app_name" content="HooplaGuru" />
  <meta property="al:android:package" content="com.id1wv7fg61nhcof01rhqsd" />
  <meta property="al:android:url" content="eventassistmeteor://" />
  <meta property="al:android:app_name" content="HooplaGuru" />
  <link rel="shortcut icon" href="/favicon.ico">
  <title>HooplaGuru</title>
</head>

<template name='applicationLayout'>
  {{> yield}}
</template>

<template name='notFoundLayout'>
  {{> yield}}
</template>

<template name='loadingLayout'>
  {{> yield}}
</template>
