<template name='UploadEventPhotos'>
  Add
</template>

<template name='UploadWall'>
  <img src='/icons/icon-camera-black@3x.svg'>
</template>

<template name='UploadCoverPhoto'>
  {{_ "event_add.own_photo"}}
</template>

<template name='UploadActivityMedia'>
  {{_ "event_add.add_photo_video"}}
</template>

<template name='UploadCuratedCoverPhotos'>
  {{_ "event_add.upload_cover"}}
</template>

<template name='UploadWallPostMedia'>
  <img class='post-field-photo' src='/icons/icon-camera-black@3x.svg'>
</template>
